body {
    background-color: aqua;
}

.container {
    display: flex;
    width: 1000px;
    height: 500px;
}

.img {
    height: 100%;
    width: 50%;
    background-color: aliceblue;
}

.text {
    height: 100%;
    width: 50%;
    background-color: whitesmoke;
    text-align: center;
}

#search {
    margin: 40px 0px;
    width: 250px;
    height: 30px;
}

.text-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.name {
    width: 70px;
    height: 110px;
    margin-left: 20px;
    border-bottom: 1px solid #ccc;
}

.type {
    width: 70px;
    height: 110px;
    margin-left: 20px;
    border-bottom: 1px solid #ccc;
}

.weight {
    width: 70px;
    height: 110px;
    margin-left: 20px;
    border-bottom: 1px solid #ccc;
}
.height {
    width: 70px;
    height: 110px;
    margin-left: 20px;
    border-bottom: 1px solid #ccc;
}

.bio {
    width: 70px;
    height: 110px;
    margin-left: 20px;
    border-bottom: 1px solid #ccc;
}